<h1>Todos</h1>

<!-- <ul>
  <li *ngFor="let t of todos" class="todo">{{ t.title }}</li>
</ul> -->

<test-nx-todos [todos]="todos"></test-nx-todos>

<button id="add-todo" (click)="addTodo()">Add Todo</button>
